@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Cutive+Mono&display=swap');
:root {
    --opac:0.3;  /*opacity of backgrounds */
    --shadow: 0px 6px 10px rgba(0,0,0,0.8); /* text box shaddow */
    --bg-color: rgba(250,235,215,0.85); /* backround color */
}
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: cutive-mono,sans-serif;
    color: black;
}


body {
    font-size: 100%;
    font-weight: lighter;
}

/* headings */
h1, h2 {
    font-family: Cutive,sans-serif;
    text-transform: uppercase;
    text-align: center;
}

p {
   border: 1px solid black;
}
/* logo */
#logo {
   padding-top: 10px;
    margin : 10px 10px 10px 10px;
    font-size: 250%;
    color: blueviolet;
}

/* nav bar */
#navi {
    clear: both;
    flex: 1;
    text-align: right;
    margin-left: 10px;
    color: blueviolet;
    font-size: 100%; 
}
#navi ul li {
    display: inline-block;
    position: relative;
    list-style: none;
    margin-right: 30px;
    font-size: 150%; 
}

/* structure background  */

#box-1 {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 50px;
    padding: 0;
    background-color: var(--bg-color);
    align-items: center;
    box-shadow: var(--shadow);
}

#box-2 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    padding-top: 13vh;
    background-image: linear-gradient(rgba(255,255,255,var(--opac)), rgba(255,255,255,var(--opac))),url('../images/scouts1.jpg');
    background-size: cover;
    background-position: center; 
}


#box-3 {
    display: flex;
    height: 100vh;
    width: 100%;
    gap: 3vw;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(255,255,255,var(--opac)), rgba(255,255,255,var(--opac))),url('../images/scouts2.jpg');
    background-size: cover;
    background-position: center;
}

#box-4 {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255,255,255,var(--opac)), rgba(255,255,255,var(--opac))),url('../images/scouts3.jpg');
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

/* welcome page */
.pg-heading {
    /*border: 2px solid black; */
    text-align: center;
 
    margin-top: 25px;
    font-size: 200%;
    width: 100%;
    padding-bottom: 25px;
  
}
.card-2 {
    /*border: 1px solid black;*/
    width: 80vw;
    height:90vh;
    
    background-color: var(--bg-color);
    margin-bottom: 4vh;
    box-shadow: var(--shadow);
    

}
    

/* scout events page */

.card-3 {
    /*border: 1px solid black;*/
    width: 45vw;
    height: 80vh;
    padding: 10px;
    background-color: var(--bg-color);
    box-shadow: var(--shadow);
}

.card-4 {
    /*border: 1px solid black;*/
    width: 70vw;
    height: 80vh;
    padding: 15px;
    background-color: var(--bg-color);
    box-shadow: var(--shadow);

}
    