@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Cutive+Mono&display=swap');
:root {
    --opac:0.3;  /*opacity of backgrounds */
    --shadow: 0px 6px 10px rgba(0,0,0,0.8); /* text box shaddow */
    --bg-color: rgba(250,235,215,0.85); /* backround color */
    --logocl: rgb(80,80,80);
}
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: cutive-mono,sans-serif;
    color: var(--logocl);
}


body {
    font-size: 135%;

    font-weight: lighter;
}



/* headings */
h1, h2 {
    font-family: Cutive,sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 210%;
}

 /*  p {
   border: 1px solid var(--logocl); 
}*/
/* logo  */
#logo {
   padding-top: 10px;
    margin : 10px 10px 10px 10px;
    font-size: 200%;
    color: var(--logocl);
}
#logo >  i {
    color: var(--logocl) ;
}
a {
    text-decoration: none;
}

/* nav bar */
#navi {
    clear: both;
    flex: 1;
    text-align: right;
    margin-left: 10px;
    color: var(--logocl);
    font-size: 80%; 

}
#navi ul li {
    display: inline-block;
    position: relative;
    list-style: none;
    margin-right: 30px;
    font-size: 150%;     
}

/* structure background  */

#box-1 {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 50px;
    padding: 0;
    background-color: var(--bg-color);
    align-items: center;
    box-shadow: var(--shadow);

}




#box-2 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    padding-top: 13vh;
    background-image: linear-gradient(rgba(255,255,255,var(--opac)), rgba(255,255,255,var(--opac))),url('../images/scouts1.jpg');
    background-size: cover;
    background-position: center; 


}


#box-3 {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(255,255,255,var(--opac)), rgba(255,255,255,var(--opac))),url('../images/scouts2.jpg');
    background-size: cover;
    background-position: center;
    gap: 3vw;
}

#box-4 {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255,255,255,var(--opac)), rgba(255,255,255,var(--opac))),url('../images/scouts3.jpg');
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

/* welcome page */
.pg-heading-2 {
    /*border: 2px solid black; */
    text-align: center;
 
    margin-top: 25px;
  
    padding-bottom: 25px;
  
}
.card-2 {
    /*border: 1px solid black;*/
    width: 80vw;
    height:90vh;
    align-content: center;
    background-color: var(--bg-color);
    margin-bottom: 4vh;
    padding: 2vw;
    box-shadow: var(--shadow);
    overflow: hidden scroll;
    

}

.card-2 > * {
    text-align: center;
}

iframe {
    width: 60vw;
}
    

/* scout events page */

.card-3 {
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    
    width: 45vw;
    height: 80vh;
    background-color: var(--bg-color);
    box-shadow: var(--shadow);
}
.card-3 > ul {
    padding-top: 5vh;
    justify-content: center;
    margin-left: 10vw ;

}

.card-3 li {
    padding-bottom: 5vh;
}




.pg-heading-3 {
    padding-top: 3vh;
}


    


/* Form Page */
.card-4 {
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 80vh;
    padding: 15px;
    background-color: var(--bg-color);
    box-shadow: var(--shadow);
    overflow: hidden scroll;

}
.pg-heading-4 {
    margin-top: 3vh;
}

form {
    margin-top: 5vh;
    text-align: center;
    
    
}
input {
    align-self: center;
}


/* footer */
footer {
    height: 7vh;
    background-color: var(--bg-color);
}

.social-networks {
    text-align: center;
    
}

.social-networks > li {
    display: inline;
    
}

.social-networks i {
    font-size: 260%;
    padding-left: 3vw;
    padding-right: 3vw;

    color: var(--logocl);
}


@media all and (max-width:500px) {
    #box-1 {
        height: 90px;
        display: block;
        font-size: 70%;
        align-items: center;

    }
    #navi {
        text-align: center;
       
    }
    
    #box-2 {
        padding-top: 17vh;
        height: 80vh;
    }
    .card-2 {
        height: 70vh;
    }
    #box-3 {
        height: 80vh;
    }
    .card-3 {
        height: 70vh;
    }
    #box-4 {
     
        height: 80vh;
    }
    .card-4 {
        height: 70vh;
    }
    iframe{
        height: 150px;
    }
    h1, h2 {
        font-size: 150%;
    }
  


    textarea {
        width: 50vw;
    }
    
}
@media all and (max-width:350px) {
    * {
        font-size: 10px;
    }

    footer {
        height: 5vh;
    }
    
}