@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Cutive+Mono&display=swap');

body {
    font-family: cutive-mono,sans-serif;
    font-size: 280%;
}
h1 {
    font-family: Cutive,sans-serif;
}